<div class="preview">
    <app-playing-card [monster]="monsterPreview" />
</div>
<div class="main">
    <form [formGroup]="monsterForm" (submit)="submit($event)">
        <div class="form-field">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" formControlName="name">
            @if(isFieldValid('name')){
            <p class="error">This field is required.</p>
            }
        </div>
        <div class="form-field">
            <label for="image">Image</label>
            <input id="image" name="image" type="file" (change)="onFileChange($event)">
            @if(isFieldValid('image')){
            <p class="error">This field is invalid.</p>
            }
        </div>
        <div class="form-field">
            <label for="type">Type</label>
            <select id="type" name="type" type="text" formControlName="type">
                @for(type of monsterTypes; track type){
                <option [value]="type">{{type}}</option>
                }
            </select>
            @if(isFieldValid('type')){
            <p class="error">This field is invalid.</p>
            }
        </div>
        <div class="form-field">
            <label for="healthPoints">Health points</label>
            <input id="healthPoints" name="healthPoints" type="number" formControlName="healthPoints">
            @if(isFieldValid('healthPoints')){
            <p class="error">This field is invalid.</p>
            }
        </div>
        <div class="form-field">
            <label for="figureCaption">Figure caption</label>
            <input id="figureCaption" name="figureCaption" type="text" formControlName="figureCaption">
            @if(isFieldValid('figureCaption')){
            <p class="error">This field is invalid.</p>
            }
        </div>
        <div class="form-field">
            <label for="attackName">Attack name</label>
            <input id="attackName" name="attackName" type="text" formControlName="attackName">
            @if(isFieldValid('attackName')){
            <p class="error">This field is invalid.</p>
            }
        </div>
        <div class="form-field">
            <label for="attackStrength">Attack strength</label>
            <input id="attackStrength" name="attackStrength" type="number" formControlName="attackStrength">
            @if(isFieldValid('attackStrength')){
            <p class="error">This field is invalid.</p>
            }
        </div>
        <div class="form-field">
            <label for="attackDescription">Attack description</label>
            <input id="attackDescription" name="attackDescription" type="" formControlName="attackDescription">
            @if(isFieldValid('attackDescription')){
            <p class="error">This field is invalid.</p>
            }
        </div>
        <div class="button-container">
            <button (click)="navigateBack()">Back</button>
            <button type="submit" [disabled]="monsterForm.invalid">Save</button>
        </div>
        

    </form>
</div>