<div id="card">
    <div id="inside" [style.background-color]="backgroundColor()">
        <header>
            <div class="left">
                <div id="name">{{monster().name}}</div>
            </div>
            <div class="right">
                <div id="hp">{{monster().healthPoints}} HP</div>
                <img [src]="monsterTypeIcon()" alt="electric.jpg" class="energy icon">
            </div>
        </header>
        <figure id="art">
            <img [src]="monster().image" alt="wago.png">
            <figcaption>{{monster().figureCaption}}</figcaption>
        </figure>
        <div class="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img [src]="monsterTypeIcon()" alt="electric.jpg" class="energy icon">
                        <img [src]="monsterTypeIcon()" alt="electric.jpg" class="energy icon">
                    </div>
                    <div class="name">{{monster().attackName}}</div>
                    <div class="dammage">{{monster().attackStrength}}</div>
                </div>
                <div class="description">
                    {{monster().attackDescription}}
                </div>
            </div>

        </div>
    </div>
</div>